<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.philipp_koch.dynamicmediabtrouter" >
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:label="@string/app_name" android:name=".IntentReceiver">
            <intent-filter>
                <action android:name="net.philipp_koch.dynamicmediabtrouter.ON"/>
                <action android:name="net.philipp_koch.dynamicmediabtrouter.OFF"/>
            </intent-filter>
        </receiver>
        <service android:label="RedirectorService" android:name="RedirectorService"/>
        <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18"/>
    </application>
</manifest>
